<header>
    <nav>
        <a href="#"><img class="logo" src="assets/img/logo-firefox.png" alt="Logo Firefox"></a>
        <a routerLink="">Accueil</a>
        <a routerLink="articles">Articles</a>
        <a routerLink="apis">API</a>
        <a routerLink="contact">Contact</a>
        <a routerLink="messagerie">Messagerie</a>
        <a routerLink="login">Login</a>
        <a routerLink="/login/register">Register</a>
        <a routerLink="/login/logout">Logout</a>
        <p class="m-0 fw-bold" *ngIf="user.user?.username">{{user.user?.username}}</p>
    </nav>
</header>