<div *ngIf="user">
    <div *ngIf="user.username" class="alert alert-warning" role="alert">
        Vous êtes connecté sous le nom de {{user.username}}
    </div>
</div>
<div *ngIf="statut" class="alert alert-{{statut.type}}" role="alert">
    {{statut.response}}
</div>
<h1 class="text-center">Connexion</h1>
<form class="article mb-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <input formControlName="email" type="text" class="form-control" id="email">
        <label for="email">Email</label>
    </div>
    <div *ngIf="submitted  && f.email.errors?.['required']">
        <p class="text-danger">Ce champ est requis</p>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="password" type="password" class="form-control" id="password">
        <label for="password">Password</label>
    </div>
    <div *ngIf="submitted  && f.password.errors?.['required']">
        <p class="text-danger">Ce champ est requis</p>
    </div>
    <button [disabled]="!loginForm.valid" type="submit">Connexion</button>
</form>